@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Poppins', sans-serif;
  font-size:14px !important
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
.hr{
  color:#dfd9e6dc;
  margin-bottom:50px;
  margin-top:70px;
}
/*START OF PREDICTED RESULT BLOCK*/
/* ── Predicted Badge ── */
.predicted-badge {
  display:         flex;
  align-items:     center;
  justify-content: space-between;
  background:      #4f46e5;
  color:           #fff;
  border-radius:   10px;
  padding:         14px 20px;
  margin-bottom:   24px;
  width:           100%;
  /* box-shadow:      0 4px 16px rgba(79, 70, 229, 0.35); */
}

.predicted-badge-left {
  display:     flex;
  align-items: center;
  gap:         10px;
}

.predicted-icon {
  font-size: 22px;
  color:     #fff;
}

.predicted-label {
  font-size:   14px;
  font-weight: 500;
  opacity:     0.85;
}

.predicted-value {
  font-size:      16px;
  font-weight:    700;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.predicted-close {
  color:   #fff !important;
  opacity: 0.8;
}

.predicted-close:hover {
  opacity: 1;
  color:   #fca5a5 !important;
}
.mode-btn i { font-size: 15px; }

.mode-btn:hover {
  border-color: #7c3aed;
  /* color: #7c3aed; */
  /* background: #f5f3ff; */
    background: #198754 !important;
}

.mode-btn--active {
  background: #198754 !important;
  color: #fff;
  border-color: #1a1a2e;
}

.mode-btn--active:hover {
   background: #198754 !important;
  border-color: #2d2d4e;
  color: #fff;
}
.prediction-notice {
  background: #FEFCE8;
  border: 1px solid #F3D77B;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 13px;
  color: #92622A;
  margin-bottom: 16px;
}
.predicted-badge{
  background-color: #d2d8d5;
}